/* === App Layout === */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #211212;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* === Grid para mostrar la librería de perros === */
.dog-grid {
  display: grid;
  background: #333;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* === Tarjeta individual de raza === */
.animal-card {
  background-color: #fff;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.animal-card:hover {
  transform: scale(1.02);
}

.animal-poster img {
  width: 100%;
  height: 200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  object-fit: cover;
}

.animal-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favorite-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

.animal-info {
  padding: 1rem;
  text-align: center;
}

.animal-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}
